<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.prac.simple.mapper.RolePermissionMapper">
	<resultMap id="BaseResultMap"
		type="com.prac.simple.entity.RolePermission">
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
		<result column="permission_id" jdbcType="VARCHAR"
			property="permissionId" />
	</resultMap>
	<insert id="insert"
		parameterType="com.prac.simple.entity.RolePermission">
		insert into role_permission (role_id, permission_id)
		values (#{roleId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.prac.simple.entity.RolePermission">
		insert into role_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				role_id,
			</if>
			<if test="permissionId != null">
				permission_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
			<if test="permissionId != null">
				#{permissionId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="selectPermissionIdByRoleId"
		parameterType="java.lang.String" resultType="java.lang.String">
		select permission_id
		from role_permission where role_id=#{roleId}
	</select>
	<delete id="batchDeleteRolePermissionByPermissionId"
		parameterType="list">
		delete from role_permission where permission_id in
		<foreach collection="list" item="id" open="(" close=")"
			separator=",">
			#{id,jdbcType=INTEGER}
		</foreach>
	</delete>
	<delete id="deleteRolePermissionByRoleId"
		parameterType="java.lang.String">
		delete from role_permission where role_id = #{roleId}
	</delete>
</mapper>