<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prac.simple.mapper.UserRoleMapper">
	<resultMap id="BaseResultMap"
		type="com.prac.simple.entity.UserRole">
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="role_id" jdbcType="VARCHAR" property="roleId" />
	</resultMap>
	<insert id="insert"
		parameterType="com.prac.simple.entity.UserRole">
		insert into user_role (user_id, role_id)
		values (#{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.prac.simple.entity.UserRole">
		insert into user_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				user_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<delete id="deleteUserRoleByRoleId"
		parameterType="java.lang.String">
		delete from user_role where role_id=#{roleId}
	</delete>
	<delete id="deleteUserRoleByUserId"
		parameterType="java.lang.String">
		delete from user_role where user_id=#{userId}
	</delete>
	<select id="selectRoleIdByUserId" resultType="java.lang.String">
		select role_id from user_role where user_id=#{userId}
	</select>
</mapper>